In [770]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
from tabulate import tabulate
import numpy as np

# load webpage content
r = requests.get(
    "https://www.nordnet.se/marknaden/etf-listor?sortField=name&sortOrder=asc&selectedTab=historical")

# Convert to Beautiful Soup object and load table from the webpage. 
soup = BeautifulSoup(r.content, 'lxml')
table = soup.find_all('table')[0]

tab_data = [[cell.text for cell in row.find_all(["th", "td"])]
            for row in table.find_all("tr")]
df = pd.DataFrame(tab_data)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,,Namn,,1 vecka,1 mån,3 mån,i år,1 år,3 år,5 år,,None,None,None,None,None,None,None
1,Köp,Alpha Dividende Plus UCITS ETF,Alpha Dividende Plus UCITS ETF,Alpha Dividende Plus UCITS ETF,,"-- 2 %2,00%","-- 2.69 %2,69%","-- 10.74 %10,74%","-- 19.55 %19,55%","-- 18.49 %18,49%","-- 18.1 %18,10%",–,,,Expandera,,,
2,Köp,Bank of China International (BOCI) Commerzbank...,Bank of China International (BOCI) Commerzbank...,Bank of China International (BOCI) Commerzbank...,,"++ 0.18 %0,18%","++ 0.99 %0,99%","++ 12.49 %12,49%","++ 3.54 %3,54%","++ 5.82 %5,82%","++ 16.56 %16,56%",–,,,Expandera,,,
3,Köp,BlackRock iShares Core Global Aggregate Bond U...,BlackRock iShares Core Global Aggregate Bond U...,BlackRock iShares Core Global Aggregate Bond U...,,"++ 0.62 %0,62%","-- 0.43 %0,43%","++ 1.15 %1,15%","++ 3.43 %3,43%","++ 1.83 %1,83%",–,–,,,Expandera,,,
4,Köp,BlackRock iShares FTSE MIB UCITS ETF EUR (Acc),BlackRock iShares FTSE MIB UCITS ETF EUR (Acc),BlackRock iShares FTSE MIB UCITS ETF EUR (Acc),,"-- 1.47 %1,47%","-- 0.79 %0,79%","-- 3.54 %3,54%","-- 16.74 %16,74%","-- 10.19 %10,19%","-- 3.57 %3,57%","++ 2.4 %2,40%",,,Expandera,,,

In [771]:
df.drop(columns=df.columns[12:], inplace=True)
df.drop(columns=[0,2,3,4], inplace=True)
df.drop(0, axis=0, inplace=True)

In [772]:
df.head()

,1,5,6,7,8,9,10,11
1,Alpha Dividende Plus UCITS ETF,"-- 2 %2,00%","-- 2.69 %2,69%","-- 10.74 %10,74%","-- 19.55 %19,55%","-- 18.49 %18,49%","-- 18.1 %18,10%",–
2,Bank of China International (BOCI) Commerzbank...,"++ 0.18 %0,18%","++ 0.99 %0,99%","++ 12.49 %12,49%","++ 3.54 %3,54%","++ 5.82 %5,82%","++ 16.56 %16,56%",–
3,BlackRock iShares Core Global Aggregate Bond U...,"++ 0.62 %0,62%","-- 0.43 %0,43%","++ 1.15 %1,15%","++ 3.43 %3,43%","++ 1.83 %1,83%",–,–
4,BlackRock iShares FTSE MIB UCITS ETF EUR (Acc),"-- 1.47 %1,47%","-- 0.79 %0,79%","-- 3.54 %3,54%","-- 16.74 %16,74%","-- 10.19 %10,19%","-- 3.57 %3,57%","++ 2.4 %2,40%"
5,BlackRock iShares MSCI UK Small Cap UCITS ETF ...,"-- 1.26 %1,26%","++ 1.22 %1,22%","-- 5.22 %5,22%","-- 24.97 %24,97%","-- 7.54 %7,54%","-- 4.74 %4,74%","-- 5.42 %5,42%"

In [773]:
df.columns = ['Namn','1 vecka', '1 mån', '3 mån','i år','1 år','3 år', '5 år']

In [774]:
df.head()

,Namn,1 vecka,1 mån,3 mån,i år,1 år,3 år,5 år
1,Alpha Dividende Plus UCITS ETF,"-- 2 %2,00%","-- 2.69 %2,69%","-- 10.74 %10,74%","-- 19.55 %19,55%","-- 18.49 %18,49%","-- 18.1 %18,10%",–
2,Bank of China International (BOCI) Commerzbank...,"++ 0.18 %0,18%","++ 0.99 %0,99%","++ 12.49 %12,49%","++ 3.54 %3,54%","++ 5.82 %5,82%","++ 16.56 %16,56%",–
3,BlackRock iShares Core Global Aggregate Bond U...,"++ 0.62 %0,62%","-- 0.43 %0,43%","++ 1.15 %1,15%","++ 3.43 %3,43%","++ 1.83 %1,83%",–,–
4,BlackRock iShares FTSE MIB UCITS ETF EUR (Acc),"-- 1.47 %1,47%","-- 0.79 %0,79%","-- 3.54 %3,54%","-- 16.74 %16,74%","-- 10.19 %10,19%","-- 3.57 %3,57%","++ 2.4 %2,40%"
5,BlackRock iShares MSCI UK Small Cap UCITS ETF ...,"-- 1.26 %1,26%","++ 1.22 %1,22%","-- 5.22 %5,22%","-- 24.97 %24,97%","-- 7.54 %7,54%","-- 4.74 %4,74%","-- 5.42 %5,42%"

In [775]:
df = df.applymap(lambda x: np.NaN if '–' in x else x)
df.head()

,Namn,1 vecka,1 mån,3 mån,i år,1 år,3 år,5 år
1,Alpha Dividende Plus UCITS ETF,"-- 2 %2,00%","-- 2.69 %2,69%","-- 10.74 %10,74%","-- 19.55 %19,55%","-- 18.49 %18,49%","-- 18.1 %18,10%",NaN
2,Bank of China International (BOCI) Commerzbank...,"++ 0.18 %0,18%","++ 0.99 %0,99%","++ 12.49 %12,49%","++ 3.54 %3,54%","++ 5.82 %5,82%","++ 16.56 %16,56%",NaN
3,BlackRock iShares Core Global Aggregate Bond U...,"++ 0.62 %0,62%","-- 0.43 %0,43%","++ 1.15 %1,15%","++ 3.43 %3,43%","++ 1.83 %1,83%",NaN,NaN
4,BlackRock iShares FTSE MIB UCITS ETF EUR (Acc),"-- 1.47 %1,47%","-- 0.79 %0,79%","-- 3.54 %3,54%","-- 16.74 %16,74%","-- 10.19 %10,19%","-- 3.57 %3,57%","++ 2.4 %2,40%"
5,BlackRock iShares MSCI UK Small Cap UCITS ETF ...,"-- 1.26 %1,26%","++ 1.22 %1,22%","-- 5.22 %5,22%","-- 24.97 %24,97%","-- 7.54 %7,54%","-- 4.74 %4,74%","-- 5.42 %5,42%"

In [776]:
def clean_number(number):
    str_number = str(number)
    if not str_number or len(str_number)==0:
        return np.nan
    elif '0,00' in str_number:
        return '0.00'  
    elif '--' in str_number:       
        return '-' + str_number.split(' ')[1]
    elif '++' in str_number: 
        return str_number.split(' ')[1]
    else: return number

In [777]:
#print(df.dtypes)
df = df.applymap(clean_number)
df.head()

,Namn,1 vecka,1 mån,3 mån,i år,1 år,3 år,5 år
1,Alpha Dividende Plus UCITS ETF,-2,-2.69,-10.74,-19.55,-18.49,-18.1,NaN
2,Bank of China International (BOCI) Commerzbank...,0.18,0.99,12.49,3.54,5.82,16.56,NaN
3,BlackRock iShares Core Global Aggregate Bond U...,0.62,-0.43,1.15,3.43,1.83,NaN,NaN
4,BlackRock iShares FTSE MIB UCITS ETF EUR (Acc),-1.47,-0.79,-3.54,-16.74,-10.19,-3.57,2.4
5,BlackRock iShares MSCI UK Small Cap UCITS ETF ...,-1.26,1.22,-5.22,-24.97,-7.54,-4.74,-5.42

In [778]:
print(tabulate(df))

--  ---------------------------------------------------------------------------------------------------  -----  -----  ------  ------  ------  ------  ------
 1  Alpha Dividende Plus UCITS ETF                                                                       -2     -2.69  -10.74  -19.55  -18.49  -18.1   nan
 2  Bank of China International (BOCI) Commerzbank - Shanghai Stock Exchange 50 A Share Index UCITS ETF   0.18   0.99   12.49    3.54    5.82   16.56  nan
 3  BlackRock iShares Core Global Aggregate Bond UCITS ETF EUR Acc Hdg                                    0.62  -0.43    1.15    3.43    1.83  nan     nan
 4  BlackRock iShares FTSE MIB UCITS ETF EUR (Acc)                                                       -1.47  -0.79   -3.54  -16.74  -10.19   -3.57    2.4
 5  BlackRock iShares MSCI UK Small Cap UCITS ETF GBP (Acc)                                              -1.26   1.22   -5.22  -24.97   -7.54   -4.74   -5.42
 6  ComStage 10Y US-Treasury Future Short UCITS ETF                                                       0.79   1.21   -5.74  -12.86  -11.9    -6.11  nan
 7  ComStage 10Y US-Treasury Future UCITS ETF                                                             0.54   0.57   -3.67    3.09    0.38   15.93  nan
 8  ComStage 1 DAX UCITS ETF (I)                                                                         -0.02  -0.3    -1.74   -5.07    3.14   -4.17  nan
 9  ComStage 1 DivDAX UCITS ETF (I)                                                                       1.64   1.3    -1.34   -8.27    1.18   -6.08  nan
10  ComStage 1 EURO STOXX 50 UCITS ETF (I)                                                               -0.44  -1.95   -4.99  -13.63   -6.54   -4.96  nan
11  ComStage 1 MDAX UCITS ETF (I)                                                                        -1.12  -0.79   -0.93   -5.45    3.05    2.91  nan
12  ComStage 1 SDAX UCITS ETF (I)                                                                        -2.17   0.37    0.23   -2.93   10.07    0.86  nan
13  ComStage 1 STOXX Europe 600 UCITS ETF                                                                -0.81  -2.52   -4.61  -13.25   -5.94  nan     nan
14  ComStage ATX UCITS ETF                                                                               -0.43  -1.45  -12.47  -31.89  -25.97  -33.45   -1.06
15  ComStage Bloomberg Equal-weight Commodity ex-Agriculture EUR hedged UCITS ETF                        -5.85  -2.93    9.67   -9.33   -8.71   -5.75  nan
16  ComStage Bloomberg Equal-weight Commodity ex Agriculture UCITS ETF                                   -4.27  -3.33    5.76  -12.18  -12.4     4.65    7.47
17  ComStage Bund-Future Double Short UCITS ETF                                                          -1.83  -0.01   -5.1    -8.13   -1.89  -24.86    0
18  ComStage Bund-Future Leveraged UCITS ETF                                                              1.77  -0.76    4.54    6.08   -2.22   20.91   44.35
19  ComStage Bund-Future Short UCITS ETF                                                                 -0.92  -0.04   -2.63   -4.35   -1.39  -14.37  -23.76
20  ComStage Bund-Future UCITS ETF                                                                        0.89  -0.14    2.19    2.83   -1.56    8.47   18.13
21  ComStage DAX UCITS ETF                                                                                0     -0.36   -1.73   -5.04    3.18   -4.07   12.19
22  ComStage DivDAX UCITS ETF                                                                             1.64   1.4    -1.22   -8.09    1.36   -6.33    9.27
23  ComStage Dow Jones Industrial Average UCITS ETF                                                      -1.29  -0.15   -4.04   -8.69   -3.18   30.37   67.93
24  ComStage Dow Jones Switzerland Titans 30 UCITS ETF                                                   -0.23  -1.78   -0.57   -5.3     1.19   15.58   21.46
25  ComStage EONIA Index UCITS ETF                                                                       -0.02  -0.03   -0.11   -0.54   -0.76   -1.81   -2.79
26  ComStage EURO STOXX 50 Daily Leverage UCITS ETF                                                      -0.82   0.51   -6.74  -29.09  -17.63   -8.19   11.48
27  ComStage EURO STOXX 50 Daily Short UCITS ETF                                                          0.22  -1.14    1.17    2.27   -6.41  -20.12  -37.39
28  ComStage EURO STOXX Select Dividend 30 UCITS ETF                                                      0.29  -4.23  -10.39  -31.84  -25.2   -31.16  -17.05
29  ComStage F.A.Z. Index UCITS ETF                                                                      -0.1   -0.06   -1.9    -7.46    0.12   -6.62   13.34
30  ComStage FTSE China A50 UCITS ETF                                                                    -0.19   0.99    8.58    3.42    6.34   18.34   37.37
31  ComStage HSCEI UCITS ETF                                                                             -0.55  -5.11   -9.31  -17.58  -11.84  -10.79    4.32
32  ComStage HSI UCITS ETF                                                                               -0.88  -2.56   -8.62  -18.74  -13.95  -10.11   16.55
33  ComStage iBOXX € Germany Covered Capped Overall UCITS ETF                                             0.45  -0.13    0.8     1.35   -1.01    2.79    3.79
34  ComStage iBOXX € Liquid Sovereigns Diversified 15+ UCITS ETF                                          1.75  -3.22    6.38    6.99    0.82   28.75   40.39
35  ComStage iBOXX € Liquid Sovereigns Diversified 25+ UCITS ETF                                          2.28  -3.78    5.56    7.76   -0.64   31.98   44.17
36  ComStage iBOXX € Liquid Sovereigns Diversified 3m-1 UCITS ETF                                        -0.7   -1      -1.16   -1.25   -1.47   -4.98   -5.68
37  ComStage iBOXX € Liquid Sovereigns Diversified Overall UCITS ETF                                      0.58  -1.23    0.85    1.21   -1.79    5.77   11.59
38  ComStage iBOXX EUR Liquid Sovereigns Diversified 10-15 UCITS ETF                                      0.94  -4.05   -0.11   -0.03   -3.91    5.95   14.47
39  ComStage iBOXX EUR Liquid Sovereigns Diversified 1-3 UCITS ETF                                        0.07  -0.21   -0.07   -0.59   -1.28   -2.22   -1.47
40  ComStage iBOXX EUR Liquid Sovereigns Diversified 3-5 UCITS ETF                                       -0.81  -1.11   -0.66   -0.84   -1.97   -1.46    1.09
41  ComStage iBOXX EUR Liquid Sovereigns Diversified 5-7 UCITS ETF                                        0.33  -1.26    0.82    0.5    -1.76    2.66    7.78
42  ComStage iBOXX EUR Liquid Sovereigns Diversified 7-10 UCITS ETF                                       0.54  -1.23    1.09    1.41   -1.76    7.85   16.25
43  ComStage iBOXX EUR Sovereigns Germany Capped 10+ UCITS ETF                                            1.77  -3.83    1.62    2.51   -3.55   10.75   19.23
44  ComStage iBOXX EUR Sovereigns Germany Capped 1-5 UCITS ETF                                            0.12  -1      -0.98   -1.35   -2.51   -4.21   -3.75
45  ComStage iBOXX EUR Sovereigns Germany Capped 3m-2 UCITS ETF                                           0     -0.88   -1.24   -1.73   -2.2    -5.09   -5.82
46  ComStage iBOXX EUR Sovereigns Germany Capped 5-10 UCITS ETF                                           0.41  -1.38    0.34   -0.07   -2.73    1.99    6.1
47  ComStage iBOXX EUR Sovereigns Inflation-Linked Euro-Inflation UCITS ETF                              -0.52  -2.43   -4.54   -1.99   -3.91    2.46    8.28
48  ComStage MDAX UCITS ETF                                                                              -1.11  -0.79   -0.93   -5.48    2.99    2.86   27.35
49  ComStage MSCI Emerging Markets Leveraged 2x Daily UCITS ETF                                          -1.39  -1.6     9.66  -14.63    3.18   -6.08   77.34
50  ComStage MSCI Emerging Markets UCITS ETF                                                             -0.11  -2.95    0.47   -8.66    0.33    0.58   37.05
--  ---------------------------------------------------------------------------------------------------  -----  -----  ------  ------  ------  ------  ------

In [779]:
#df.sort_values(by='1 vecka')
#df.dtypes
#df.astype({'1 vecka': 'float32'}, copy=False).dtypes
#df = df.astype({'5 år': 'float'}).dtypes
#df['1 vecka'] = df['1 vecka'].astype('float')
#df['1 mån'] = df['1 mån'].astype('float')
#df.iloc[:,1:].astype('float')
df = df.apply(pd.to_numeric, errors='ignore', axis=0)

In [780]:
df.dtypes

Namn        object
1 vecka    float64
1 mån      float64
3 mån      float64
i år       float64
1 år       float64
3 år       float64
5 år       float64
dtype: object

In [781]:

#Rankar alla columner och lägger ihop per rad i en ny column kallad return ranking sum. Ju högre per column desto bättre, och mindre ranking total)
df['Return ranking sum'] = df.iloc[:,1:].rank(0,method='min',ascending=False).sum(axis=1)
#df.iloc[:,1:].rank(0,method='min',ascending=False,pct=False)

In [782]:
df.head()

,Namn,1 vecka,1 mån,3 mån,i år,1 år,3 år,5 år,Return ranking sum
1,Alpha Dividende Plus UCITS ETF,-2.00,-2.69,-10.74,-19.55,-18.49,-18.10,NaN,275.0
2,Bank of China International (BOCI) Commerzbank...,0.18,0.99,12.49,3.54,5.82,16.56,NaN,38.0
3,BlackRock iShares Core Global Aggregate Bond U...,0.62,-0.43,1.15,3.43,1.83,NaN,NaN,56.0
4,BlackRock iShares FTSE MIB UCITS ETF EUR (Acc),-1.47,-0.79,-3.54,-16.74,-10.19,-3.57,2.40,240.0
5,BlackRock iShares MSCI UK Small Cap UCITS ETF ...,-1.26,1.22,-5.22,-24.97,-7.54,-4.74,-5.42,238.0

In [783]:
# ger varje rad en ranking baserad på dess return ranking sum. lägre 'Return ranking sum' är bättre (fler höga placeringar i ranking). 
df['return ranking'] = df.iloc[:,-1:].rank(0,method='min',ascending=True,pct=False)
df.head()

,Namn,1 vecka,1 mån,3 mån,i år,1 år,3 år,5 år,Return ranking sum,return ranking
1,Alpha Dividende Plus UCITS ETF,-2.00,-2.69,-10.74,-19.55,-18.49,-18.10,NaN,275.0,47.0
2,Bank of China International (BOCI) Commerzbank...,0.18,0.99,12.49,3.54,5.82,16.56,NaN,38.0,1.0
3,BlackRock iShares Core Global Aggregate Bond U...,0.62,-0.43,1.15,3.43,1.83,NaN,NaN,56.0,2.0
4,BlackRock iShares FTSE MIB UCITS ETF EUR (Acc),-1.47,-0.79,-3.54,-16.74,-10.19,-3.57,2.40,240.0,44.0
5,BlackRock iShares MSCI UK Small Cap UCITS ETF ...,-1.26,1.22,-5.22,-24.97,-7.54,-4.74,-5.42,238.0,43.0

In [784]:
#skapar fält med return ranking sum/antalet datapunkter - Nan värden. Då vi inte har data för exempelvis 5år för alla finansiella instrument. 
df['avg return ranking'] = df['Return ranking sum']/(len(df.columns[1:8]) -df.isnull().sum(axis=1))
df['avg return ranking'] = df['avg return ranking'].rank(0,method='min',ascending=True)

In [785]:
df.head()

,Namn,1 vecka,1 mån,3 mån,i år,1 år,3 år,5 år,Return ranking sum,return ranking,avg return ranking
1,Alpha Dividende Plus UCITS ETF,-2.00,-2.69,-10.74,-19.55,-18.49,-18.10,NaN,275.0,47.0,50.0
2,Bank of China International (BOCI) Commerzbank...,0.18,0.99,12.49,3.54,5.82,16.56,NaN,38.0,1.0,1.0
3,BlackRock iShares Core Global Aggregate Bond U...,0.62,-0.43,1.15,3.43,1.83,NaN,NaN,56.0,2.0,6.0
4,BlackRock iShares FTSE MIB UCITS ETF EUR (Acc),-1.47,-0.79,-3.54,-16.74,-10.19,-3.57,2.40,240.0,44.0,41.0
5,BlackRock iShares MSCI UK Small Cap UCITS ETF ...,-1.26,1.22,-5.22,-24.97,-7.54,-4.74,-5.42,238.0,43.0,40.0

In [787]:
#df['never negative'] = (df.iloc[0:-1]>0).all()
#df.any(axis=1, skipna=True)
#df.head()
df['never returned negative'] = (df.iloc[:,1:7] > 0).all(1)

In [788]:
df.head()

,Namn,1 vecka,1 mån,3 mån,i år,1 år,3 år,5 år,Return ranking sum,return ranking,avg return ranking,never returned negative
1,Alpha Dividende Plus UCITS ETF,-2.00,-2.69,-10.74,-19.55,-18.49,-18.10,NaN,275.0,47.0,50.0,False
2,Bank of China International (BOCI) Commerzbank...,0.18,0.99,12.49,3.54,5.82,16.56,NaN,38.0,1.0,1.0,True
3,BlackRock iShares Core Global Aggregate Bond U...,0.62,-0.43,1.15,3.43,1.83,NaN,NaN,56.0,2.0,6.0,False
4,BlackRock iShares FTSE MIB UCITS ETF EUR (Acc),-1.47,-0.79,-3.54,-16.74,-10.19,-3.57,2.40,240.0,44.0,41.0,False
5,BlackRock iShares MSCI UK Small Cap UCITS ETF ...,-1.26,1.22,-5.22,-24.97,-7.54,-4.74,-5.42,238.0,43.0,40.0,False

In [789]:
#df.to_csv('EFT_test_data.csv')

In [847]:
df = pd.read_csv('ETF_data_total.csv', index_col=0)
#df.duplicated('Namn')

In [848]:
df.head()

,Namn,1 vecka,1 mån,3 mån,i år,1 år,3 år,5 år,Return ranking sum,return ranking,avg return ranking,never returned negative
1,Alpha Dividende Plus UCITS ETF,-2.00,-2.69,-10.74,-19.55,-18.49,-18.10,NaN,4758.0,926.0,956.0,False
2,Bank of China International (BOCI) Commerzbank...,0.18,0.99,12.49,3.54,5.82,16.56,NaN,930.0,22.0,16.0,False
3,BlackRock iShares Core Global Aggregate Bond U...,0.62,-0.43,1.15,3.43,1.83,NaN,NaN,1458.0,90.0,167.0,False
4,BlackRock iShares FTSE MIB UCITS ETF EUR (Acc),-1.47,-0.79,-3.54,-16.74,-10.19,-3.57,2.40,4395.0,890.0,830.0,False
5,BlackRock iShares MSCI UK Small Cap UCITS ETF ...,-1.26,1.22,-5.22,-24.97,-7.54,-4.74,-5.42,4038.0,840.0,753.0,False

In [849]:
df.duplicated('Namn').sum(0)

5

In [850]:
df[df.duplicated(['Namn'], keep=False)]

,Namn,1 vecka,1 mån,3 mån,i år,1 år,3 år,5 år,Return ranking sum,return ranking,avg return ranking,never returned negative
129,Invesco JPX-Nikkei 400 UCITS ETF,-0.46,3.63,-0.83,-5.53,6.22,4.70,15.67,2184.0,363.0,217.0,False
130,Invesco JPX-Nikkei 400 UCITS ETF,0.82,3.86,-2.84,-7.07,2.02,11.30,30.03,1918.0,261.0,123.0,False
533,JPM USD Ultra-Short Income UCITS ETF,-0.16,-3.08,-3.08,-3.36,-3.71,NaN,NaN,2942.0,631.0,776.0,False
534,JPM USD Ultra-Short Income UCITS ETF,-0.29,0.38,-3.69,-4.60,-5.93,NaN,NaN,2560.0,508.0,654.0,False
761,NaN,-3.90,-1.80,5.31,15.39,25.13,NaN,NaN,1906.0,256.0,597.0,False
763,NaN,1.49,1.49,-2.17,-8.44,-5.25,NaN,NaN,1954.0,279.0,619.0,False
770,NaN,0.29,1.33,5.57,-10.37,-7.42,-3.86,NaN,2254.0,383.0,557.0,False
776,NaN,0.39,-2.14,12.86,-10.78,-5.97,0.13,NaN,2803.0,580.0,720.0,False

In [851]:
df

,Namn,1 vecka,1 mån,3 mån,i år,1 år,3 år,5 år,Return ranking sum,return ranking,avg return ranking,never returned negative
1,Alpha Dividende Plus UCITS ETF,-2.00,-2.69,-10.74,-19.55,-18.49,-18.10,NaN,4758.0,926.0,956.0,False
2,Bank of China International (BOCI) Commerzbank...,0.18,0.99,12.49,3.54,5.82,16.56,NaN,930.0,22.0,16.0,False
3,BlackRock iShares Core Global Aggregate Bond U...,0.62,-0.43,1.15,3.43,1.83,NaN,NaN,1458.0,90.0,167.0,False
4,BlackRock iShares FTSE MIB UCITS ETF EUR (Acc),-1.47,-0.79,-3.54,-16.74,-10.19,-3.57,2.40,4395.0,890.0,830.0,False
5,BlackRock iShares MSCI UK Small Cap UCITS ETF ...,-1.26,1.22,-5.22,-24.97,-7.54,-4.74,-5.42,4038.0,840.0,753.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...
997,Xtrackers USD Corporate Bond UCITS ETF 1D,2.47,-1.45,-4.46,-0.55,-0.75,14.34,NaN,2438.0,466.0,474.0,False
998,Xtrackers USD Corporate Bond UCITS ETF 2D EUR ...,0.31,-2.27,-2.12,1.58,1.76,2.59,NaN,2502.0,487.0,497.0,False
999,Xtrackers USD Emerging Markets Bond Quality We...,1.37,-0.93,-4.34,-6.72,-7.17,1.99,NaN,3102.0,670.0,664.0,False
1000,Xtrackers USD Emerging Markets Bond Quality We...,0.00,-0.86,-6.84,-8.58,-8.30,-10.13,NaN,3726.0,791.0,820.0,False
1001,Xtrackers USD High Yield Corporate Bond UCITS ...,0.30,-1.03,-9.24,-9.96,-8.42,NaN,NaN,3249.0,699.0,854.0,False

In [1046]:
#(df.iloc[:,1:7].isnan() ).all(1, skipna=True)
import math
df['never returned negative'] = df.iloc[:,1:8].applymap(lambda x: True if math.isnan(x) or x>0 else False).all(1)
df[df['never returned negative']==True]

,Namn,1 vecka,1 mån,3 mån,i år,1 år,3 år,5 år,Return ranking sum,return ranking,avg return ranking,never returned negative,never_returned_negative
2,Bank of China International (BOCI) Commerzbank...,0.18,0.99,12.49,3.54,5.82,16.56,NaN,930.0,22.0,16.0,True,True
87,Franklin FTSE Korea UCITS ETF,4.38,0.38,3.25,0.31,22.59,NaN,NaN,735.0,9.0,12.0,True,True
88,Franklin Liberty Euro Green Bond UCITS ETF,0.79,0.02,2.93,2.77,0.06,NaN,NaN,1227.0,49.0,77.0,True,True
113,Invesco Euro Government Bond 5-7 Year UCITS ETF,0.26,0.06,1.76,1.17,NaN,NaN,NaN,1158.0,40.0,160.0,True,True
161,Invesco STOXX Europe 600 Optimised Chemicals U...,0.70,2.98,6.56,2.97,13.10,25.63,45.37,638.0,3.0,2.0,True,True
204,iShares $ TIPS UCITS ETF,1.12,0.08,0.93,3.87,2.07,19.17,18.45,1528.0,118.0,42.0,True,True
330,iShares EUR Ultrashort Bond ESG UCITS ETF EUR ...,0.08,0.22,0.83,NaN,NaN,NaN,NaN,1047.0,28.0,322.0,True,True
359,iShares J.P. Morgan USD EM Corp Bond UCITS ETF...,0.20,0.16,4.87,NaN,NaN,NaN,NaN,825.0,15.0,129.0,True,True
474,iShares STOXX Europe 600 Chemicals UCITS ETF (DE),0.57,2.67,6.06,3.59,13.88,19.71,29.19,787.0,13.0,8.0,True,True
557,Lyxor Core US TIPS (DR) UCITS ETF - Dist,1.19,0.07,0.46,3.35,1.67,16.64,NaN,1422.0,78.0,65.0,True,True
605,Lyxor Index Fund-Lyxor Stoxx Europe 600 Chemic...,0.44,2.96,6.46,4.30,15.67,NaN,NaN,499.0,2.0,4.0,True,True
691,Multi Lyxor Euro Corporate Bond Ex Financials ...,0.46,0.17,1.16,0.77,0.05,NaN,NaN,1444.0,84.0,158.0,True,True
800,XACT OMXS30,0.96,2.47,3.38,1.69,13.09,25.63,42.61,765.0,12.0,7.0,True,True
801,XACT Svenska Småbolag (UCITS ETF),1.06,2.92,9.86,6.83,19.81,54.60,NaN,312.0,1.0,1.0,True,True
832,Xtrackers iBoxx USD Corporate Bond Yield Plus ...,1.05,0.46,5.34,4.99,7.10,NaN,NaN,692.0,7.0,10.0,True,True
883,Xtrackers II USD Emerging Markets Bond UCITS E...,1.35,0.77,0.27,NaN,NaN,NaN,NaN,676.0,5.0,51.0,True,True

In [1029]:
df_temp.all(1)

1       False
2        True
3       False
4       False
5       False
        ...
997     False
998     False
999     False
1000    False
1001    False
Length: 979, dtype: bool

In [14]:
path = Path(__file__).parent.absolute()
#parent.absolute()
print(path)

NameError: name '__file__' is not defined

In [3]:
from pathlib import Path

In [44]:
path = Path().parent.absolute()
print(path)
csv_file_name = "test_path.csv"

c:\Users\Gustaf\PythonProjects\NN_ETF_Scraper

In [36]:
import pandas as pd
cleanframe  = pd.DataFrame({'x': [1, 2, 3], 'y': [3, 4, 5], 'z': [0,0,0]})
cleanframe

   x  y  z
0  1  3  0
1  2  4  0
2  3  5  0

In [48]:
cleanframe.to_csv('' + str(path) + '\\' + csv_file_name)